ortho/platforms
ortho/platforms/*.*
ortho/plugins
ortho/www/js/dat/*.png
orthona/platform
orthona/plugins
src/dat/bin
src/dat/json_random
src/dat/png
src/dat/retop
src/dat/svg
src/dat/tiled
src/tmp
docs
orthotope/js/compiled.js
orthona/www/js/compiled.js
*.swp