ortho/platforms
ortho/platforms/*.*
ortho/plugins
ortho/www/js/dat/*.png
orthona/platforms
orthona/plugins
orthology
src/dat/bin
src/dat/icons
src/dat/json_random
src/dat/png
src/dat/retop
src/dat/svg
src/dat/tiled
src/tmp
docs
mdocs
orthotope/js/compiled.js
orthona/www/js/compiled.js
*.swp

orthona/platforms/browser/www/js/compiled.js
