:root {
  --bg: #024;
  --fg: #ccc;
}

body{
  font-family:"Palatino Linotype","Book Antiqua",Palatino,serif;
  background-color: var(--bg);
  color:var(--fg);
  text-align: center;
  padding-bottom: 5px;
}


svg {
  stroke:var(--fg);
  fill:var(--bg);
  stroke-linecap:round;
  font-family:Helvetica;
  font-size:12px;
  text-anchor:middle;
  version:1.1;
}

.cheat td {
  padding:10px;
}

a,a:hover,a:visited {
  color:var(--fg);
  text-decoration: none;
}

table{
    margin-left:auto; 
    margin-right:auto;
}

td{
  vertical-align: top;
  max-width: 300px;
  padding-left:10px;
  padding-right: 10px;
}

.manualTable td{
  padding-bottom: 50px;
}

.leadDescription{
  margin-left:auto; 
  margin-right:auto;
  max-width: 300px;  
}

ul{
  text-align: left;
  width: 300px;
  list-style: none;
}